episode_2/daily_digest.json
{
  "name": "Daily digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -840,
        400
      ],
      "id": "0b16d999-8207-416c-9d8a-1c20b17a7a37",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://feeds.businessinsider.com/custom/all",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -300,
        0
      ],
      "id": "c699bcf1-7c0e-4ddc-9b4d-a350c4032778",
      "name": "business insider"
    },
    {
      "parameters": {
        "url": "http://rss.cnn.com/rss/money_topstories.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -300,
        -160
      ],
      "id": "5696ca20-43b3-4913-b4fd-a1f82d975f60",
      "name": "cnn"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -80,
        -80
      ],
      "id": "7f0cfcb2-2612-4f86-b0f2-b68a88ddfbad",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe0167d3-2e87-4b6b-a7b7-3993cafce60e",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "cd5318c7-c8b8-45a0-b0a1-00afecdc819c",
              "name": "contentSnippet",
              "value": "={{ $json.contentSnippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        -80
      ],
      "id": "73051173-2cd9-4689-9624-ea6e6558da20",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "news",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        360,
        -80
      ],
      "id": "146994a7-67c9-446b-9fe4-cf36495859eb",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a summary of the biggest news stories in the last 24 hours.\nMake sure to categorize the news by topics, and list the title and the summary under each category.\n\n<news>\n{{ JSON.stringify($json.news) }}\n</news> \n"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        580,
        -80
      ],
      "id": "68574ace-e7e4-49ce-b502-e97df8bf29bf",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        500,
        140
      ],
      "id": "0f959448-8208-48b3-b8b3-2fc98e54b499",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "9z2BF40dqIRV3ovL",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1472042-3f7a-4fe3-b4f3-4cb377e5ceb8",
              "name": "news",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        -80
      ],
      "id": "684acea8-8df5-4e87-b656-f92b12f6ccbf",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "content": "# News",
        "height": 620,
        "width": 1720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -380,
        -300
      ],
      "id": "ad462f94-bd3b-4c60-be31-2d2b5ffeb971",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1880,
        380
      ],
      "id": "e1923af5-8e37-44c3-bd49-db9b64ddbfd9",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "5DayForecast",
        "format": "imperial",
        "cityName": "los angeles,us"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        -300,
        700
      ],
      "id": "d5bf3c95-4427-4b67-9e98-9ee2d65aa754",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "gTK9YmLWx133jqwn",
          "name": "OpenWeatherMap"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "list",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -60,
        700
      ],
      "id": "cac0b96d-0d38-44ed-b5a8-7516c648bb7c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ca2a4f67-c574-47a8-9aeb-3a586140943f",
              "leftValue": "={{ $now.plus(1, \"days\").toSeconds() > $json.dt }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        160,
        700
      ],
      "id": "24b87753-5c93-4465-ad1d-8b8ff28ff295",
      "name": "Filter"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "weather_forecast",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        380,
        700
      ],
      "id": "8878a4f7-344d-42a3-a2dd-feecf4ac8cda",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize the weather forecast for the next 24 hours using the provided forecast data. \nAdd clothing suggestions for a middle aged female who typically wears casual clothing.\nPlease note if she needs to carry an umbrella.\nThe summary should be an overview for the day, don't provide hourly breakdown on the weather changes.\n\n<WeatherForecast>\n{{ JSON.stringify($json.weather_forecast) }}\n</WeatherForecast>"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        600,
        700
      ],
      "id": "3f602627-157d-41be-beb6-f793cf153bce",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        880
      ],
      "id": "d2ead07a-ca9b-4a88-abd5-aaa7d8d131b4",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "9z2BF40dqIRV3ovL",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0dfe8ddb-2165-43d1-9114-4abffc3ecfbc",
              "name": "weather_forecast",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        700
      ],
      "id": "5f4338b7-65a7-492a-b03f-5ae64f50b115",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "content": "# Weather",
        "height": 600,
        "width": 1720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -380,
        540
      ],
      "id": "a5538857-d109-4cfb-9657-1358bd22da5c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "labelIds": [
            "CATEGORY_PERSONAL"
          ],
          "readStatus": "unread",
          "receivedAfter": "={{ $now.minus(1, \"day\") }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -220,
        1400
      ],
      "id": "4ae8e742-28aa-45eb-918e-db6e0c82d539",
      "name": "Gmail",
      "webhookId": "c485b21f-207d-4efb-9e85-566ff2e3de15",
      "credentials": {
        "gmailOAuth2": {
          "id": "E1ofNfqugb4UykcT",
          "name": "Gmail 2rum2room2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c5d24917-c196-4979-b118-40bedcf0511a",
              "name": "email",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "f99c070e-5e12-4b9f-8a46-84cad215c4d5",
              "name": "from",
              "value": "={{ $json.from.value }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        1400
      ],
      "id": "f644eea4-4049-483b-b3db-c74a8d7fbe69",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "emails",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        220,
        1400
      ],
      "id": "8b6de565-0a0d-47ff-b947-189240062045",
      "name": "Aggregate2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract all the emails that were sent by humans and aren't newsletters or system updates or calendar updates and summarize the emails in one sentence for a digest and add who (name + email) sent the email.\n\n<emails>\n{{ $json.emails.map(item => `\\n<email>\\n<from>\\n${JSON.stringify(item.from)}\\n</from>\\n<body>\\n${item.email}\\n</body>\\n</email>\\n`).join('') }}\n</emails>\n",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        440,
        1400
      ],
      "id": "2a13a119-e213-4737-a720-af35fc5c9577",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        1620
      ],
      "id": "c94f0d02-c3aa-40c3-82dc-9acab3ecefeb",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "9z2BF40dqIRV3ovL",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"emails\": [\"email 1\", \"email 2\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        580,
        1620
      ],
      "id": "911a632f-b9be-44f3-94d3-0a7afa5bdc95",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8b795abf-c0d7-42f9-aa3d-f5a4ed47dda1",
              "name": "emails",
              "value": "={{ JSON.stringify($json.output.emails) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        1400
      ],
      "id": "553c916b-8c64-4817-a02f-a4e22f378fd4",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "content": "# Emails",
        "height": 480,
        "width": 1500
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -380,
        1320
      ],
      "id": "c8323aef-0af0-4390-8b21-54c284afaf9a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "2rum2room2@gmail.com",
          "mode": "list",
          "cachedResultName": "2rum2room2@gmail.com"
        },
        "timeMax": "={{ $now.plus({ days: 1 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -260,
        2160
      ],
      "id": "c5cc9012-51cf-40fa-9d16-f49d0a1ebeff",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Qys2Y2daXPMBhCyH",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c2ed0b62-fb10-4d36-a53e-b448f385b93f",
              "name": "summary",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "a224249f-f845-43a2-b50c-805212713481",
              "name": "startDate",
              "value": "={{ $json.start.dateTime }}",
              "type": "string"
            },
            {
              "id": "60793d7b-ba96-4114-9682-b722d7402f7a",
              "name": "timezone",
              "value": "={{ $json.start.timeZone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -40,
        2160
      ],
      "id": "e30bef49-6dd7-4883-acb4-6317f47e16f6",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "calendar_events",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        180,
        2160
      ],
      "id": "adb5dd8e-846a-4e6d-b1e9-b2ccfd6cb8df",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "768d5214-4d37-4b8f-9cbb-e34305e68381",
              "name": "calendar_events",
              "value": "={{ JSON.stringify($json.calendar_events) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        2160
      ],
      "id": "64b20097-2a25-4ee5-91c2-a54d89d2ed78",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "content": "# Calendar",
        "height": 440,
        "width": 1120
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -380,
        1960
      ],
      "id": "1604da9b-d170-44c7-a834-6ece8201580a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "news"
            },
            {
              "fieldToAggregate": "weather_forecast"
            },
            {
              "fieldToAggregate": "emails"
            },
            {
              "fieldToAggregate": "calendar_events"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2100,
        400
      ],
      "id": "975c0dbb-a077-48d0-b5b3-a8a752bea03c",
      "name": "Aggregate4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68158149-a655-4cba-857d-e1b289bd750f",
              "name": "news",
              "value": "={{ $json.news[0] }}",
              "type": "string"
            },
            {
              "id": "c3d828f7-f9a5-47b4-9e0f-03eea9e4b7bb",
              "name": "weather_forecast",
              "value": "={{ $json.weather_forecast[0] }}",
              "type": "string"
            },
            {
              "id": "531afbd6-339e-4408-bfc4-7c2daca1a751",
              "name": "emails",
              "value": "={{ $json.emails[0] }}",
              "type": "string"
            },
            {
              "id": "05bb70c2-ec0a-4b38-a08c-6d5c3bd44d06",
              "name": "calendar_events",
              "value": "={{ $json.calendar_events[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        400
      ],
      "id": "aef32391-f74c-4ca9-8985-73f8b573d264",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nCreate a daily digest from the data below.\nUse a personal, light-hearted tone (2nd person). \nUse the `send_daily_digest` tool to send the digest.\n\nThe elements of to include (from the source data)\n1. Weather forecast\n2. News\n3. Emails\n4. Calendar events\n\n<DataSource>\n<News>\n{{ $json.news }}\n</News>\n<WeatherForecast>\n{{ $json.weather_forecast }}\n</WeatherForecast>\n<Emails>\n{{ $json.emails }}\n</Emails>\n<CalendarEvents>\n{{ $json.calendar_events }}\n</CalendarEvents>\n</DataSource>\n\nMake sure to format the email as raw text with proper new lines, separating everything.\nDo not use any markdown - as it will be read on mobile. Don't use any bold, other styling.\n\nExample formating:\n\nHi there,\n\nToday's weather\n- forecast\n- clothing recommendations\n\nUnread emails\n- email 1\n- email 2\n\nToday's events\n- event 1\n- event 2\n\nLatest news\n\nCategory 1\n- news item 1\n\nCategory 2\n- news item 1\n\nHave a great day, Miri!",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3000,
        400
      ],
      "id": "99b4c5ec-7084-4eef-a10d-d022c37531cf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2920,
        640
      ],
      "id": "8d436468-15e4-44be-b76c-cfe0e56fff6f",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "9z2BF40dqIRV3ovL",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "2rum2room2@gmail.com",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        3160,
        620
      ],
      "id": "ed44dc4e-578f-48e4-9558-1ae6b50dc8f7",
      "name": "send_digest",
      "webhookId": "162a213b-823b-4420-8c95-05e882822299",
      "credentials": {
        "gmailOAuth2": {
          "id": "E1ofNfqugb4UykcT",
          "name": "Gmail 2rum2room2"
        }
      }
    },
    {
      "parameters": {
        "content": "# Build and send digest",
        "height": 500,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2780,
        300
      ],
      "id": "90367bfc-2bb2-4a89-a0a3-cb3e637ab201",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Prepare the data",
        "height": 460,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1800,
        240
      ],
      "id": "88400a74-eba1-4721-8318-4d366b793cf3",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "cnn",
            "type": "main",
            "index": 0
          },
          {
            "node": "business insider",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cnn": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "business insider": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate4": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "send_digest": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8fa463c2-4112-4a7e-8883-0e467f16cbc0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "636db6b6ab21a21c6458e2137f340e33dc3e49f5a1c560c8d1e2372c227cf40e"
  },
  "id": "E7MvzxYrEXnM4sDf",
  "tags": []
}